.vs
obj
bin
output
*.esproj.user
*.csproj.user

# Ignores Typescript output
docs/static/js
docs/static/lib/jintellv3

# Ignores Typescript output
docs/portal/**/*.js
docs/portal/**/*.js.map

# Ignores Typescript output
build/build.js
build_debug/build.js
build_debug/build.js.map